.container
{
background:#e3e2e7;
width:90%;
margin:auto;
padding:8px;
}

.container h1
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: oblique;
}

.header
{
text-align: center;
}
.header img
{
height: 250px;
}
.projects
{
  width: 50%;
  margin: auto;
  text-align: center;
}
#projects
{
  width: 50%;
  text-align: left;
  margin:auto ;
  font-size: 20px;
  padding-left: 100px;
}
.about-me h2
{
  text-align: center;  
  color: black;
  font-style: italic;
}
.about-me h4
{
  text-align: center; 
  font-style: normal; 
  font-size: medium;
 
}
.about-me #box_card
{
    background-color: rgb(201, 201, 201);
    width: 33.1%;
    display: inline-block;
}
.about-me #box_card h5
{
  text-align: center;
  color: blue;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}